/*
  Original theme by floyare
  Branch and remastered by Kyso
  version 0.1
*/

@import url('https://fonts.googleapis.com/css2?family=Mulish+Condensed:wght@300&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

:root{
  /* override default League font */
  --font-display: 'Mulish', sans-serif !important;
  --font-body: 'Mulish', sans-serif !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

body{
  overflow: hidden !important;
  position: relative !important;
}

div[data-screen-name='rcp-fe-lol-navigation-screen'] {
    height: 79px;
    width: 1278px;
    border-top: 0px solid #785a28!important;
    box-sizing: border-box;
}

#rcp-fe-viewport-root {
    display: flex;
    width: 1280px;
    height: 720px;
    position: relative;
    border-right: 2px solid #1500ff!important;
    border-left: 2px solid #1500ff!important;
    border-bottom: 2px solid #1500ff!important;
    border-top: 2px solid #1500ff!important;
    box-sizing: border-box;
    overflow: hidden;
    background: #000;
    filter: drop-shadow(1px 1px 10px #1500ff) !important; 
}

#rcp-fe-viewport-root #rcp-fe-lol-navigation-app {
    pointer-events: none;
    position: relative;
    z-index: 10;
    background: #77abf08f!important;
}

.lol-social-sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #a09b8c;
    font-size: 12px;
    cursor: default;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    background: linear-gradient(#3f2375, #c100d81a 18%)!important;
}

.section, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #f1f1f1!important;
    border: none;
    margin: 0;
    text-decoration: none;
    outline: none;
    transition: text-shadow 0.3s ease-in-out, background 1.5s;
    width: 100%;
    height: 100%;
    min-height: 20px;
    cursor: pointer;
}

.section.active .section-glow {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    margin: 0;
    background: linear-gradient(to left, transparent, #6dd3ff, transparent)!important;
}

.section.active, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section.active {
    color: #6eaff9;
    text-shadow: 0px 0px 21px #2f00ff!important;
    /* opacity: 1; */
}

 .section.active {
    background-image: linear-gradient(0deg, rgba(51, 166, 255, 0.3) 0%, rgba(0, 41, 107, 0.19) 55%)!important;
}

.section.active, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section.active {
    color: #ffffff!important;
    text-shadow: 0px 1px 15px white!important;
    font-family: 'Orbitron', sans-serif!important;
}

.section, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #cfffffc2!important;
    border: none;
    margin: 0;
    text-decoration: none;
    outline: none;
    transition: text-shadow 0.3s ease-in-out, background 1.5s;
    width: 100%;
    height: 100%;
    min-height: 20px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif!important;
}

::content .lol-uikit-video-content {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    filter: hue-rotate(40deg)!important;
}

lol-uikit-full-page-backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 37, 74, 0.8) 93%)!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loot-backdrop {
    position: absolute;
    width: 1055px;
    height: 718px;
    overflow: hidden;
    filter: hue-rotate(0deg);
}

.game-type-card .parties-game-type-upper-half {
    position: relative;
    cursor: pointer;
    width: 185px;
    height: 230px;
    filter: hue-rotate(40deg);
}

.parties-header-button-container .back-button-container.back-button-shown {
    display: block;
    filter: saturate(0);
}

#rcp-fe-viewport-root > .rcp-fe-viewport-full-screen {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    box-shadow: inset 0px 0px 40px rgba(0, 106, 255, 0.23);
}

.availability-icon{
    background-color: #0062ad !important;
    border-color: #004f6c !important;
    filter: drop-shadow(0px 0px 2px #69deff);
    border-radius: 8px;
}

.availability-icon.mobile{
  background-color: transparent !important;
}

.availability-icon.away{
    background-color: #671111 !important;
    border-color: #ffffff8a !important;
}

.status-message.offline{
  color: #930000d4 !important;
}

.status-message-wrapper{
  color: #75a7f2 !important;
}

.status-message.chat{
  color: #75e1f1 !important;
}

.status-message.game-status.chat{
  color: #6a6af5 !important;
}



.lol-loading-screen-lol-icon{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b2a83ea4-c034-4b95-9138-0d8f6d9b342c/d31dfbb-f8e7f9c6-e0e5-4e37-b510-d228880659d1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IyYTgzZWE0LWMwMzQtNGI5NS05MTM4LTBkOGY2ZDliMzQyY1wvZDMxZGZiYi1mOGU3ZjljNi1lMGU1LTRlMzctYjUxMC1kMjI4ODgwNjU5ZDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.X5xv4mTq3lS456-x4wrf3T3xdc3jtUsLFXucXoUQS2Q') !important;
  width: 200px !important;
  height: 200px !important;
}

.lol-loading-screen-container.lol-loading-screen-default-state .lol-loading-screen-status-container{
  margin-top: -60px !important;
}

.play-button-container{
  background-image: none !important; /*url('http://mmmx22.ct8.pl/play-button-violet.png') !important;*/
  background: linear-gradient(177deg, #00a1bb, #7863d0) !important;
  border-radius: 50px !important;
  border: 2px solid #ffff!important;
  filter: drop-shadow(1px 1px 8px #4f8bed) !important;
  transition: 0.2s !important;
  cursor: pointer;
}

.play-button-container:hover{
  filter: drop-shadow(1px 1px 15px #0e07ca) !important;
  transition: 0.2s !important;
}

.play-button-content{
    width: calc(100% - 52px) !important;
}

.play-button-text{
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
  content: '▶' !important;
  visibility: hidden;
  z-index: 0 !important;
}

.play-button-text:after{
    content:'▶'; 
  visibility: visible;
  display: block;
  position: absolute;
  left: 28px;
}

#rcp-fe-viewport-root > .rcp-fe-viewport-overlay > .screen-root[style*="visibility: hidden;"] ~ .play-button-text:after {
  visibility: hidden !important;
}

.play-button-component[style*="visibility: hidden;"] ~ .play-button-text:after {
  visibility: hidden !important;
}

.play-button-component[style*="visibility: hidden;"] + .play-button-text:after {
  visibility: hidden !important;
}

.play-button-component[style*="visibility: hidden;"] .play-button-text:after {
  visibility: hidden !important;
}

.screen-root[style*="visibility: hidden;"] .play-button-text:after {
  visibility: hidden !important;
}

.screen-root[style*="visibility: hidden;"] ~ .play-button-text:after {
  visibility: hidden !important;
}

.screen-root[style*="visibility: hidden;"] + .play-button-text:after {
  visibility: hidden !important;
}





.champion-select-main-container:not(:hidden) ~ .play-button-text:after{
  display: none !important;
  visibility: hidden !important;
}

.champion-select-main-container:visible .play-button-text:after{
  display: none !important;
}

.play-button-container:hover .play-button-text:after{
  color: #C7C7C7 !important;
}

.play-button-container:active .play-button-text:after{
  color: #C7C7C7 !important;
}

.lol-loading-screen-container.lol-loading-screen-default-state{
  /* background: url('https://wallpapers-clan.com/wp-content/uploads/2023/11/hxh-killua-zoldyck-lightning-desktop-wallpaper-cover.jpg') #0F051F no-repeat !important; */
  background: #0F051F !important;
  /* opacity: 0.6 !important;  */
}

.lol-loading-screen-container{
  backdrop-filter: blur(10px);
}

lol-social-roster-member .open-party .open-party-indicator{
  background: #4a95ff !important;
}

lol-social-roster-member .open-party-indicator{
  background: #224d75 !important;
}

.status-message.open-party.chat{
  color: #4acfff !important;
}

.filled.xp-ring{
  background-color: #140085b7 !important;
}

lol-social-status .status-message.dnd{
  color: #70fff8 !important;
  font-weight: bold !important;
  text-transform: uppercase;
}

#6eaff9

:host .lol-uikit-background-switcher-image{
  content: url(https://wallpapers-clan.com/wp-content/uploads/2023/11/hxh-killua-zoldyck-lightning-desktop-wallpaper-cover.jpg) !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  filter:blur(10px);
  width: auto !important;
}

.parties-view .parties-background lol-uikit-background-switcher{
  content: url(https://wallpapers-clan.com/wp-content/uploads/2023/11/hxh-killua-zoldyck-lightning-desktop-wallpaper-cover.jpg) !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  filter:blur(10px);
  width: auto !important;
}
.parties-view .parties-background .uikit-background-switcher{
  content: url(https://wallpapers-clan.com/wp-content/uploads/2023/11/hxh-killua-zoldyck-lightning-desktop-wallpaper-cover.jpg) !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  filter:blur(10px);
  width: auto !important;
}

.dropdown-container{
  filter: hue-rotate(0deg);
  position: relative;
  z-index: 3;
}

lol-social-avatar:not([disabled]):hover .summoner-level-ring{
  -webkit-filter: none !important;
  filter: none !important;
}

/* COLLECTION */

.collections-application{
  position: relative;
  isolation: isolate;
}

.collections-application:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: hue-rotate(-10deg); */
  mix-blend-mode: hue;
  background-color:rgba(25, 187, 224, 0.6);
  z-index: 1;
}

.collections-routes{
  position: relative;
  z-index: 10;
}

/* YOUR SHOP */

.yourshop-root{
  position: relative;
  isolation: isolate;
}

.yourshop-root:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: hue-rotate(-10deg); */
  mix-blend-mode: hue;
  background-color:rgb(25, 187, 224, 0.8);
  z-index: 1;
}

.yourshop-content-wrapper{
  position: relative;
  z-index: 2;
}

/* STORE */
.store-backdrop {
  position: relative;
  isolation: isolate;
}

.__rcp-fe-lol-store .navbar.clearfix .nav.nav-tabs{
  filter: hue-rotate(0deg) !important;
}

.store-backdrop:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: hue-rotate(-10deg); */
  mix-blend-mode: hue;
  background-color:rgb(25, 187, 224, 0.8  );
  z-index: -1;
}

.__rcp-fe-lol-store{
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar-thumb{
  background-color: #0030b5 !important;
}

.chat-header{
  border-bottom: thin solid #124cec !important;
}

.heading{
  border-bottom: thin solid #1547c4 !important;
}

.navigation-status-ticker.has-incidents {
  visibility: hidden !important;
}

.main-navigation-menu-item .menu_item_navbar_event_hub .ember-view {
  left: -338px !important;
}

.main-navigation-menu-item .menu_item_navbar_competitive .ember-view {
  left: -448px !important;
}

.right-nav-vertical-rule {
  visibility: hidden !important;
}

/*----------------------------------------------------------------
some tests to find the correct path to clash and event buttons.

html > body > section > section:nth-child(6) > div:nth-child(1) > div > div > div:nth-child(4) > lol-uikit-navigation-bar > div:nth-child(3) > lol-uikit-navigation-item:nth-child(1) {
  left:-338px;
}
html > body > section > section:nth-child(6) > div:nth-child(1) > div > div > div:nth-child(4) > lol-uikit-navigation-bar > div:nth-child(3) > div:nth-child(1) {
  visibility: hidden;
}
html > body > section > section:nth-child(6) > div:nth-child(1) > div > div > div:nth-child(4) > lol-uikit-navigation-bar > div:nth-child(3) > lol-uikit-navigation-item:nth-child(2) {
  left:-448px;
}
html > body > section > section:nth-child(6) > div:nth-child(1) > div > div > div:nth-child(4) > div {
  visibility: hidden;
}
----------------------------------------------------------------*/

/* .mission-tracker-component{
  filter: hue-rotate(0deg) !important;
} */

/* NAVIGATION */
.collections-sub-nav-container{
  z-index: 10 !important;
  filter: hue-rotate(0deg) !important;
}

.basic-button{
  left: 32vw !important;
  height: 48px !important;
  width: 122px !important;
  top: 15px !important;
}

.left-nav-menu{
    position: relative !important;
    margin-left: -200px !important;
}

.league-logo{
  display: none !important;
}

.play-button-frame{
  background-image: none !important;
}

:host .parties-game-search-map.game_map_summoners_rift{
  background-image: url(http://mmmx22.ct8.pl/Floppa.jpg) !important;
}

lol-uikit-video-state-machine{
  display: none !important;
}

.availability-icon.chat.remote{
  /*filter: hue-rotate(0deg);*/
  background-color: none !important;
}

.main-navigation-menu-item{
  filter: hue-rotate(0deg);
}

.play-button-content{
  left: 30px !important;
}
:host .parties-status-card.open {
    filter: hue-rotate(140deg) !important;
}

lol-social-availability-hitbox .availability-icon.open-party{
  background-image: url(http://mmmx22.ct8.pl/lol-social-open-party.png) !important;
  background-color: transparent !important;
}

.availability-icon.chat.remote{
  background-color: transparent !important;
  filter: hue-rotate(0deg) !important;
}

.ready-check-state-machine-timer{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: hue-rotate(0deg) !important;
}

.ready-check-timer{
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.ready-check-timer.ember-view{
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.ready-check-root-element{
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.ready-check-root-element.ember-view{
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.fake-application-template{
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.navigation-status-ticker{
  position: absolute !important;
  left: 430px !important;
  top: 24px !important;
}

.mission-button .count-badge{
  background-color: #86efff !important;
}

.loot-item-visual .shard-overlay{
  background: #86efff !important;
}

.social-count-badge{
  background-color: #86efff !important;
}
lol-social-friend-requests .friend-requests-header{
  color: #86efff !important;
}

.chat-bubble .my-bubble{
  background-color: #86efff !important;
}

lol-social-chat-window .conversation.unread .conversation-subtitle{
  color: #86efff !important;
}

lol-social-chat-window .conversation.active::before{
  background-color: #86efff !important;
}

lol-social-roster .more-unread .more-unread-bar{
  background-color: #86efff !important;
}
